<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon.png') }}">
    <title>Admin</title>
</head>

<link rel="stylesheet" href="{{url_for('static', filename='evilStyle.css') }}">

<div class="header">
    <h1>Evil Banking System Admin Page</h1>
    <h4>Welcome, {{ username }}</h4>
    <div class="headerGrid">
        <div><a href="/logout">Logout</a></div>
        <div><a href="/password-reset">Reset Password</a></div>
    </div>

</div>
<!-- Display flash messages here -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flashed-messages">
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">
                        <h4>{{ message }}</h4>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

<h1>Actions</h1>
    <br>
    <div class="headerGrid">
        <div><a href="/account-lookup">Lookup Customer Account</a></div>
        <div><a href="/transfer">Transfer for Customer</a></div>
        <div><a href="/deposit">Deposit From Cash To Customer Account</a></div>
        <div><a href="/withdraw">Withdraw Cash From Customer Account</a></div>
        <div><a href="/registerTeller">New Teller</a></div>
        <div><a href="/registerAdmin">New Admin</a></div>
        <div><a href="/logs">Browse Logs</a></div>
        <div><a href="/admin/delete-account">Delete an account</a></div>
        <div><a href="/admin/delete-user">Delete a user</a></div>
        <div><a href="/admin/backup">Backup the database</a></div>
        <div><a href="/admin/restore">Restore the backup</a></div>
    </div>

</html>