<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">

<div class="header">
    <h1>Banking System</h1>
    <div class="headerGrid">
        <div><a href="/register">Register</a></div>
        <div><a href="/login">Login</a></div>
        <div><a href="/passwordReset">Reset Password</a></div>
        <div><a>Logout</a></div>
        <div><a href="/new">New Bank Account</a></div>
        <div><a href="/transfer">Transfer Money</a></div>
    </div>

</div>
<!-- Display flash messages here -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flashed-messages">
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

<body>
    <div class="grid-container">
        {% for account in accountList %}
        <div class="grid-item">
            <a class="buttonClass"><h1>{{ account.type }}</h1><body>${{ account.balance }}</body></a>
        </div>
        {% endfor %}
    </div>
</body>
</html>