<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
</head>

<link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">


<body>

<form action="/new" method = "POST">
    <p><input type = "text" name = "accountName" placeholder="Account Name" autocomplete="off"/></p>

    <p><input type = "text" name = "value" placeholder="Initial Deposit Amount" autocomplete="off"/></p>

    <p><input type = "submit" class = "smallButtonClass" value = "Submit" /></p>
</form>

</body>
</html>