<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
</head>

<link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">


<body>

<a href="/home">back</a>

<!-- Display flash messages here -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flashed-messages">
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <form action="/passwordReset" method="POST">
        <p><input type="text" name="userName" placeholder="User Name" required></p>
        <p><input type="email" name="email" placeholder="Email" required></p>
        <p><input type="password" name="password" placeholder="New Password" required></p>
        <p><input type="password" name="confirmPassword" placeholder="Confirm New Password" required></p>
        <p><input type="submit" value="Reset Password"></p>
    </form>
    
</body>
</html>