<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon.png') }}">
    <title>Register Admin</title>
</head>

<link rel="stylesheet" href="{{url_for('static', filename='evilStyle.css') }}">


<body>

<a href="/admin">back</a>

<!-- Display flash messages here -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flashed-messages">
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

<form action="/registerAdmin" method = "POST">
    <p><input type = "text" name = "username" placeholder="User Name:" autocomplete="off" required/></p>

    <p><input type = "text" name = "email" placeholder="Email" autocomplete="off" required/></p>

    <p><input type = "password" name = "password" placeholder="Password" autocomplete="off" required/></p>

    <p><input type = "password" name = "confirmPassword" placeholder="Confirm Password" autocomplete="off" required/></p>

    <p><input type = "submit" class = "smallButtonClass" value = "Submit" /></p>
</form>

</body>
</html>